makefile.setup

gnat/
src/sqlite/amalgamation/sqlite3_for_gps

docs/_build

*.cgpr
b__*
*.bexch
*.a
*.d
gnatinspect.*
obj/
lib/
*.stdout
*.stderr
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
/gnat_src
*~

testsuite/debug
testsuite/gcov
testsuite/gnatcov
testsuite/out

examples/library/obj
