testsuite/*/*/*                            no-precommit-check
testsuite/*/*/*/*                          no-precommit-check
testsuite/*/*/*/*/*                        no-precommit-check

# Third-party package
src/getRSS.c                               no-precommit-check
src/sqlite/amalgamation/*                  no-precommit-check

src/dborm.py                               no-precommit-check
