gnat/*.ad?
gnat/snames*
gnat/xsnamest
gnat/sdefault/sdefault.adb
src/gnatcoll-atomic.adb
src/gnatcoll.gpr
src/gnatcoll_readline.gpr
src/sqlite/amalgamation/sqlite3_for_gps

docs/_build

*.cgpr
b__*
*.bexch
*.a
*.d
gnatinspect.db
gnatinspect.db-wal
gnatinspect.db-shm
obj/
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
/config.status
/config.log
/gnat_src

Makefile.conf
gnatcoll_shared.gpr
src/gnatcoll_gmp.gpr
src/gnatcoll_python.gpr
src/gnatcoll_gtk.gpr
src/lib
src/obj
testsuite/obj
testsuite/scripts/M701-028-dict-iter/bin

testsuite/*/*/dummy.gpr
testsuite/sql/sql3/pkg*
testsuite/sql/sql3/test.db
testsuite/json/json1/decode
testsuite/json/json1/test_all
testsuite/json/M605-001/read
testsuite/pools/testpools
testsuite/projects/M320-003/main
testsuite/readline/read1/.gnatcolltest
testsuite/readline/read1/main
testsuite/sql/prepared/prepared
testsuite/sql/prepared/dbschema.ad?
testsuite/sql/prepared/dbschema_names.ads
testsuite/sql/prepared/test.db
testsuite/sql/prepared_postgres/preparedpsql
testsuite/sql/prepared_postgres/dbschema.ad?
testsuite/sql/prepared_postgres/dbschema_names.ads
testsuite/sql/sql1/database.ad?
testsuite/sql/sql1/database_names.ads
testsuite/sql/sql2/tmp.db
testsuite/sql/database*
testsuite/sql/orm/orm_database.ad?
testsuite/sql/orm/orm_database_names.ads
testsuite/sql/orm/queries.ad?
testsuite/sql/orm/schema.dot
testsuite/sql/orm/schema.ps
testsuite/sql/*/db.ad?
testsuite/sql/*/db_names.ads
testsuite/sql/*/orm.ad?
testsuite/sql/json/queries.ad?
testsuite/sql/orm_views/main
testsuite/sql/orm_views/orm_database*
testsuite/sql/orm_views/queries*
testsuite/traces/traces4/traces4.out2
testsuite/traces/wildcard/wildcard.out
testsuite/traces/wildcard/wildcard.out2
testsuite/projects/K926-026/main
testsuite/projects/KB30-016/test_it
testsuite/projects/objects/objects
testsuite/projects/objects/out
testsuite/projects/objects2/objects
testsuite/projects/objects2/out
testsuite/projects/aggregate/main
testsuite/projects/aggregate_info/main
testsuite/xref/find_ref/main
testsuite/xref/naming_schemes/file2
testsuite/xref/naming_schemes2/file2
testsuite/xref/rename/rename
testsuite/xref/scope_tree_separate_runtime/main
testsuite/xref/separate_krunch/main
testsuite/xref/E224-007-change_obj_dir/src/a.adb
testsuite/xref/E224-007-change_obj_dir-c/src/a.c
testsuite/xref/F516-004/main
testsuite/xref/F516-004/default_naming.gpr
testsuite/xref/F516-004/default_source_list.txt
testsuite/xref/F516-004/default.gpr.saved*
testsuite/xref/H721-012-labels/a
testsuite/xref/M701_043/main
testsuite/xref/cpp_operators/header.s
testsuite/xref/empty_db/modeling.db
testsuite/xref/L829-003/example_main
testsuite/xref/update2/b.ads
testsuite/xref/update2/c.ads
testsuite/xref/L406-006-runtime/a
testsuite/traces/MA08-038/nofile
testsuite/vfs/relative/main
testsuite/vfs/links1/hello.adb
testsuite/vfs/links1/hello.orig
testsuite/vfs/links1/test_links
testsuite/utils/time/run
testsuite/utils/split/obj

testsuite/results

testsuite/projects/K712-015/test_it
testsuite/config/win/win.txt

examples/library/obj/database.ad?
examples/library/obj/database_names.ads
examples/library/obj/library
examples/library/obj/library.db
examples/library/obj/orm.ad?
examples/gmp/isprime
examples/gmp/square_triangular_numbers

testsuite/config/NA24-020/run
testsuite/json/MB28-001/json/
testsuite/json/MB28-001/json_stack_test
testsuite/mmap_tests/map1/mmap.out
testsuite/mmap_tests/multiple_regions/chars.txt
testsuite/mmap_tests/multiple_regions/empty.txt
testsuite/mmap_tests/multiple_regions/temp.txt
testsuite/projects/N728-016/main
testsuite/projects/N918-040/install/
testsuite/projects/N918-040/main
testsuite/projects/aggregate_ali/main
testsuite/projects/aggregate_create/main
testsuite/sql/NB11-001/great_expectations
testsuite/sql/autocomplete/
testsuite/sql/check_sqlite/sqlite_test
testsuite/sql/task_cursor/tc_main
testsuite/sql/task_cursor/test-task-cursors.sqlite
testsuite/xref/F516-004/default.gpr
testsuite/xref/N218-003/a.ads
testsuite/xref/N605-031/main
