   pre.smallexample,
   div.important,
   div.note,
   div.tip          {background-color:rgb(240,240,240);
                     margin: 0px 40px 0px 40px;
                     border-width: 1px 2px 2px 1px;
                     border-top-style: dotted;
                     border-left-style: dotted;
                     border-right-style: solid;
                     border-bottom-style: solid;
                     border-color: black;}
   pre.smallexample {font-size: 14px;
                     font-family: courier new,courier,fixed;
                    }
   div.important,
   div.note,
   div.tip          {font-size: 14px;
                     background-repeat: no-repeat;
                     background-position: center left;
                     padding: 10px 10px 10px 40px;
                    }
   div.tip          {background-image: url(tip.png); }
   div.note         {background-image: url(note.png); }
   div.important    {background-image: url(important.png); }

   div.contents ul ul { padding-left: 10px;
                        list-style-type: none;
                    }
   div.contents > ul  { padding-left: 5px;
                      list-style-type: none }
   div.contents a:link,
   div.contents a:visited,
   div.contents a:active            { text-decoration: none; color:blue }
   div.contents a:hover             { text-decoration: underline; color:red}

   /* IE7 still does not support the > selectors... workaround */
   div.contents ul li               { padding-top: 20px; }
   div.contents ul li ul li         { padding-top: 0px; }

   h1.settitle      {background:#003580;
                     font-size: huge;
                     text-align: center;
                     padding: 30px 10px 30px 10px;
                     color: white }
   h2.unnumbered,
   h2.chapter       { background:#098ABA;
                      padding: 5px 5px 5px 15px }
   h3.section       { border-bottom: solid black; }
   h4.subsection    { border-bottom: solid black;}
   dt               { text-decoration: underline;
                      font-style: italic }
   code             {color:black;
                     font-family: courier new,courier,fixed;
                     font-size: 14px;}
   body             {font-family: arial,helvetica,sans-serif;
                     font-size: 16px;
                     margin-left:20px; margin-right:305px;
                     text-align: justify}
   samp             {font-family: courier new,courier,fixed;
                     font-size: 14px}
/* table of contents and tips in the right margin */
   div.contents     {width:300px; top:0px; right:0px; font-size:smaller;
                     position: absolute; }
   div.contents ul  {padding-left:10px; margin:0}
   div.tip          {position: absolute;
                     text-align: left; /* don't align when width is small */
                     width: 200px; right:0px}
